* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Para un mejor control de los bordes y relleno */
}

body,
html {
    height: 100%;
    /* Asegura que el body y html ocupen el 100% de la pantalla */
    /*overflow: hidden;*/
}

body {
    background-image: url('/res/img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor {
    display: grid;

    grid-template-rows: 15% 66% 4% 15%;
    /* Define las alturas de las celdas */
    width: 100%;
    /* Ocupar 100% del ancho de la pantalla */
    height: 100vh;
    /* Ocupar 100% de la altura de la ventana */
    /*max-width: 1024px;*/
    /* Limita el ancho máximo a 900px */
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
    position: relative;
}

.celda {
    display: flex;
    /* Centrar el contenido en las celdas */
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */

    /* Color de fondo para las celdas */
}

/* Diferentes colores de fondo para cada celda */
.celda1 {
    /*overflow: hidden;*/

}

.celda2 {
    display: flex;

}

.celda3 {
    display: flex;
}

.celda4 {
    overflow: hidden;
    display: flex;
    width: 100%;
    align-items: flex-start;

}

.img-techo {
    width: 100%;
    height: 99.49px;
    background-color: rgb(8, 156, 235);

}

.img-madera {
    display: flex;
    width: 100%;
    height: 99.50px;
    position: absolute;
    background-color: chocolate;
    z-index: 6;
}

.btn {
    position: absolute;
    z-index: 10;
    margin: 1rem;
}

.img-rueda {
    max-width: 500px;
    max-height: 500px;
    padding: 1rem;
    position: absolute;
    z-index: 1;
}

.img-hoja {
    max-width: 500px;
    max-height: 500px;
    padding: 1rem;
    position: absolute;
    z-index: 2;
}

.img-bicho-1 {
    width: 20%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0rem;
    position: absolute;
    left: 0;
    z-index: 4;
}

.img-bicho-2 {
    width: 20%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0rem;
    position: absolute;
    z-index: 5;
    right: 0;
}


/* Media Query para pantallas mayores a 1900px */
@media (min-width: 1900px) {

    .celda3 {
        display: flex;
    }

    .img-bicho-2 {
        width: 22%;
        bottom: 20px;
    }

    .img-bicho-1 {
        width: 22%;
        bottom: 20px;
    }

    .contenedor {
        width: 100%;
        /* Ocupar el 100% del ancho de la pantalla, pero limitado por max-width */
    }

    .img-rueda {
        width: 100%;


    }

    .img-hoja {
        width: 100%;

    }
}

/* Media Query para pantallas mayores a 900px */
@media (min-width: 900px) {

    .celda3 {

        display: flex;
    }

    .img-bicho-2 {
        width: 22%;
        bottom: 2%;
    }

    .img-bicho-1 {
        width: 22%;
        bottom: 2%;
    }

    .contenedor {
        width: 100%;
        /* Ocupar el 100% del ancho de la pantalla, pero limitado por max-width */
    }

    .img-rueda {
        width: 32%;

    }

    .img-hoja {
        width: 32%;

    }
}


/* Media Query para pantallas menores a 1899px */
@media (max-width: 1899px) {

    .celda3 {
        display: flex;
    }

    .img-bicho-2 {
        width: 20%;
        bottom: 4%;
    }

    .img-bicho-1 {
        width: 20%;
        bottom: 2%;
    }

    .contenedor {
        width: 100%;
        /* Ocupar el 100% del ancho de la pantalla, pero limitado por max-width */
    }

    .img-rueda {
        width: 33%;

    }

    .img-hoja {
        width: 33%;

    }
}

/* Media Query para pantallas menores a 1100px */
@media (max-width: 1100px) {

    .celda3 {
        display: flex;
    }

    .img-bicho-2 {
        width: 23%;
        bottom: 2%;
    }

    .img-bicho-1 {
        width: 23%;
        bottom: 2%;
    }

    .contenedor {
        width: 100%;
        /* Ocupar el 100% del ancho de la pantalla, pero limitado por max-width */
    }

    .img-rueda {
        width: 43%;

    }

    .img-hoja {
        width: 43%;

    }
}

/* Media Query para pantallas menores a 900px */
@media (max-width: 900px) {

    .celda3 {
        display: flex;
    }

    .img-bicho-2 {
        width: 23%;
        bottom: 5%;
    }

    .img-bicho-1 {
        width: 23%;
        bottom: 5%;
    }

    .contenedor {
        width: 100%;
        /* Ocupar el 100% del ancho de la pantalla, pero limitado por max-width */
    }

    .img-rueda {
        width: 50%;

    }

    .img-hoja {
        width: 50%;

    }
}




/* Media Query para pantallas menores a 800px */
@media (max-width: 800px) {

    .celda3 {

        display: flex;
    }

    .img-bicho-2 {
        width: 23%;
        bottom: 6%;
    }

    .img-bicho-1 {
        width: 23%;
        bottom: 6%;
    }

    .contenedor {
        width: 100%;
        /* Ocupar el 100% del ancho de la pantalla, pero limitado por max-width */
    }

    .img-rueda {
        width: 55%;

    }

    .img-hoja {
        width: 55%;

    }
}

/* Media Query para pantallas menores a 700px */
@media (max-width: 700px) {

    .celda3 {

        display: flex;
    }

    .img-bicho-2 {
        width: 25%;
        bottom: 7%;
    }

    .img-bicho-1 {
        width: 25%;
        bottom: 7%;
    }

    .contenedor {
        width: 100%;
        /* Ocupar el 100% del ancho de la pantalla, pero limitado por max-width */
    }

    .img-rueda {
        width: 68%;

    }

    .img-hoja {
        width: 68%;

    }
}

/* Media Query para pantallas menores a 600px */
@media (max-width: 600px) {

    .celda3 {

        display: flex;
    }

    .img-bicho-2 {
        width: 27%;
        bottom: 6%;
    }

    .img-bicho-1 {
        width: 27%;
        bottom: 6%;
    }

    .contenedor {
        width: 100%;
        /* Ocupar el 100% del ancho de la pantalla, pero limitado por max-width */
    }

    .img-rueda {
        width: 80%;

    }

    .img-hoja {
        width: 80%;

    }
}

/* Media Query para pantallas menores a 500px */
@media (max-width: 500px) {

    .celda3 {

        display: flex;
    }

    .img-bicho-2 {
        width: 30%;
        bottom: 7%;
    }

    .img-bicho-1 {
        width: 30%;
        bottom: 7%;
    }

    .contenedor {
        width: 100%;
        /* Ocupar el 100% del ancho de la pantalla, pero limitado por max-width */
    }

    .img-rueda {
        width: 90%;

    }

    .img-hoja {
        width: 90%;

    }

}

/* Media Query para pantallas menores a 400px */
@media (max-width: 400px) {

    .celda3 {

        display: flex;
    }

    .img-bicho-2 {
        width: 35%;
        bottom: 8%;
    }

    .img-bicho-1 {
        width: 35%;
        bottom: 8%;
    }

    .contenedor {
        width: 100%;
        /* Ocupar el 100% del ancho de la pantalla, pero limitado por max-width */
    }

    .img-rueda {
        width: 100%;
        padding: 0.2rem;

    }

    .img-hoja {
        width: 100%;
        padding: 0.2rem;

    }

    /*body,
    html {

        overflow: auto;
    }*/
}

/* Media Query para pantallas menores a 350px */
@media (max-width: 350px) {

    .celda3 {

        display: flex;
    }

    .img-bicho-2 {
        width: 40%;
        bottom: 8%;
    }

    .img-bicho-1 {
        width: 40%;
        bottom: 8%;
    }

    .contenedor {
        width: 100%;
        /* Ocupar el 100% del ancho de la pantalla, pero limitado por max-width */
    }

    .img-rueda {
        width: 100%;
        padding: 0.2rem;

    }

    .img-hoja {
        width: 100%;
        padding: 0.2rem;

    }
}



/*.circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: conic-gradient(#ffadad 0deg 51.43deg,
            #ffd6a5 51.43deg 102.86deg,
            #fdffb6 102.86deg 154.29deg,
            #caffbf 154.29deg 205.71deg,
            #9bf6ff 205.71deg 257.14deg,
            #a0c4ff 257.14deg 308.57deg,
            #bdb2ff 308.57deg 360deg);
}*/